@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    background-image: url('/static/img/13.jpg');
    /*background-image: url("{% static  'img/tai.jpg' %}");  url("static/img/tai.jpg"); url("{% static  'img/tai.jpg' %}"); */
    position: absolute;
    background-size: contain;
    background-attachment: fixed;
}
.logo-container {
    display: flex;
    align-items: center;
}

.logo-text {
    font-size: 30px;
    margin-left: 0; /* Resim ile metin arasındaki boşluğu ayarlayabilirsiniz */
    font-weight: 900;
}
.logo {
    width: 100px; /* İstediğiniz genişliği ayarlayabilirsiniz */
    height: 100px; /* İstediğiniz yüksekliği ayarlayabilirsiniz */
    padding-top: 20px; /* Yukarıdan boşluk ekler */
    padding-left: 10px;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    background: rgba(255, 255, 255, 0.842);
    box-shadow: 0 0 20px 9px #6865641e;
    border-radius: 35px;
    margin: 2% auto ;
    padding: 10px;
    overflow: hidden;
    /* overflow-y: hidden; */
    overflow-y: auto; /* Yalnızca dikey kaydırma çubuğu ekler */
    /* overflow-x: hidden; Yatay kaydırma çubuğunu gizler */
}
/* Scrollbar'ı gizlemek için */
.form-box::-webkit-scrollbar {
    width: 0px; /* Genişliği 0 yaparak scrollbar'ı görünmez yapar */
}

.button-box {
    width: 250px;
    margin: 30px auto; 
    position: relative;
    box-shadow: 0 0 20px #220d051a;
    border-radius: 35px;
}

.toggle-btn {
    position: relative;
    padding: 10px 35px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}

#btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 56%;
    height: 100%;
    background:linear-gradient(55deg, #ADAAAA, #1e350b); 
    border-radius: 35px;
    transition: .5s;
}

.button-box button:nth-child(2) {
    color: #333;
}
.button-box button:nth-child(3) {
    color: #333;
}

.input-group {
    position: absolute;
    top: 150px;
    width: 280px;
    transition: .5s;
    height: auto;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    border: none;
    margin: 5px 0;
    background: transparent;
    border-bottom: 1px solid rgba(153, 153, 153, 0.705);
    outline: none;
}

.submit-btn {
    display: block;
    width: 85%;
    padding: 10px;
    border: none;
    background:linear-gradient(55deg, #ADAAAA, #1e350b); 
    border-radius: 35px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 20px;
    outline: none;

}

.input-group a{
    display: inline-block;
    text-decoration: none;
    color: #777;
    margin: 0px 10px 30px 0px;
    font-size: 16px;
}

#Login {
    left: 50px;
}

#Register {
    left: 450px;
}

